@import "../../scss/style.scss";

.banner {
    background-image: url("https://static.topcv.vn/v4/image/welcome/bg_header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Inter,sans-serif;
    padding-bottom: 50px;
    padding-top: 42px;
}