@import "../../scss/style.scss";

.menu {
    display: flex;
    gap: 20px;
    height: 80px;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    max-width: 1140px;
    margin: 0 auto;
}

.c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e9eaec!important;
    background-color: #fff;
    z-index: 9;

    &__left {
        display: flex;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 50px;
        }

        .logo {
            padding-right: 40px;
        }
    }

    .button {
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 15px 6px;
        padding: 12px 20px;

        &.login {
            border: 1px solid #00b14f;
            color: #00b14f;
        }

        &.register {
            background: #00b14f!important;
            border: 1px solid #00b14f;
            color: #fff;
        }
    }
}