@import "../../scss/style.scss";

.menu {
    display: flex;
    gap: 20px;
    height: 80px;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    max-width: 1140px;
    margin: 0 auto;

    > li {
        >a {
            color: #212f3f;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .235px;
            line-height: 20px;
            margin: 16px 5px;
            padding: 31px 15px;
        }
    }
    
}

.c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e9eaec!important;
    background-color: #fff;
    z-index: 9;

    &__left {
        display: flex;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 50px;
        }

        .logo {
            padding-right: 40px;
        }
    }

    .button {
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 15px 6px;
        padding: 12px 20px;

        &.login {
            border: 1px solid #00b14f;
            color: #00b14f;
        }

        &.register {
            background: #00b14f!important;
            border: 1px solid #00b14f;
            color: #fff;
        }
    }
}

.has-menu {
    &:hover {
        .group-hover {
            display: flex;
            opacity: 1;
        }
    }
}

.group-hover {
    animation: fadein .4s;
    border-radius: 10px;
    box-shadow: 1px 2px 20px rgba(0,0,0,.06);
    display: none;
    height: auto;
    margin-top: -9px;
    opacity: 0;
    overflow: hidden;
    perspective: 1000px;
    position: absolute;
    top: 100%;
    z-index: 2;

    ul {
        background: #fff;
        display: block;
        margin: 0;
        max-height: 88vh;
        overflow: auto;
        padding: 16px;

        li {
            background: #f4f5f5;
            border-radius: 6px;
            min-width: 368px;
            position: relative;
        }

        a {
            background: #f4f5f5;
            border-radius: 6px;
            min-width: 368px;
            position: relative;
            display: block;
            padding: 0 15px;
            line-height: 40px;
        }
    }
}