@import '../../scss/style.scss';

.c-footer {
    background-color: #fff;
    margin-top: 30px;

    &__box {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            gap: 10px;
        }
    }
}

.logo {
    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-right: 50px;
    }
}