.l-container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    background-color: #F3F5F7;
    font-size: 1.6rem;
}

.p-15 {
    padding: 15px;
}


.bg-white {
    background-color: #fff;
}

.mt-15 {
    margin-top: 15px;
}